.DS_Store
.swiftpm/
Sample/NavigationOverlayKitSample/NavigationOverlayKitSample.xcodeproj/project.xcworkspace/xcuserdata/
Sample/NavigationOverlayKitSample/NavigationOverlayKitSample.xcodeproj/xcuserdata/
